@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Your Custom Dark Mode Palette */
  --color-bg-base: #121212; /* Main Background */
  --color-bg-surface: #1e1e1e; /* Slightly lighter for Sidebar/Header/Cards */
  --color-text-primary: #e0e0e0; /* Primary Text */
  --color-text-secondary: #b0b0b0; /* Secondary Text */
  --color-border-base: #444444; /* Borders/Dividers */
  --color-accent-base: #888888; /* Accent */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
